FINANZAPP_ENV=production
FINANZAPP_STORAGE_SECRET=L-LEMEJvde7-Gfb7NTD0_mr9lqpHtyau9VhtNO09gYAM0V-C6tn6mFw7E0B7MG2Y
FINANZAPP_PRIVATE_DIR=/var/lib/finanzapp
FINANZAPP_DATA_DIR=/var/lib/finanzapp/data
FINANZAPP_AUTH_USERS_FILE=/var/lib/finanzapp/auth/usuarios.json
FINANZAPP_STORAGE_DIR=/var/lib/finanzapp/nicegui
FINANZAPP_BACKUP_DIR=/var/lib/finanzapp/backups
FINANZAPP_BACKUP_ON_STARTUP=1
FINANZAPP_BACKUP_MIN_HOURS=24
